body {
    color: $fontcolour;
    font-size: 100%;
    font-family: $bodyfont;
    line-height: $lineheight;
}

h1, h2, h3, h4, h5, h6, label, div.componentheading {
    font-family: $headingfont;
}

label {
    margin-right: 0.6em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
}

fieldset {
    @include border-radius(3px);
    margin: 0.7em 0 1em 0;
    padding: 0.4em 0.8em;
    border: 1px solid $mjgreen;
    
    legend {
        margin: 0 0 0.6em 0;
        padding: 0 0.6em;
        background: $bgcolour;
        font-size: 0.875em;
    }
}

form {
    #form-login-username, #form-login-password {
        input {
            padding: 0.2em 4px;
            width: 190px;
        }
    }
    
    button, input.button {
        padding: 0.5em 0;
        width: 200px;
        border: none;
        background: $mjgreen;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.875em;
        font-family: $headingfont;
        
        &:hover {
            background: $mjred;
        }
    }
    
    &#form-login {
        div {
            margin: 0 0 0.8em 0;
            text-align: left;
            font-weight: 700;
            font-size: 1.4em;
            font-family: $headingfont;
            
            input.button {
                font-size: 0.7em;
            }
        }
    }
    
    &[name=userform] {

        table {
            margin: 1.4em 0 0.9em 0;
            width: auto;
            
            td {
                padding: 0 1em 0.9em 0;
                width: auto;
            }
        }
        
        input.inputbox, input.validate-email {
            padding: 0.2em 4px;
            width: 300px;
        }
    }
}

input {
    &.inputbox, &.validate-email {
        border: 1px solid $mjgreen;
        font-size: 1em;
        font-family: $bodyfont;
    }
    
    &.validate-email {
        padding: 0.2em 4px;
        width: 190px;        
    }
    
    &.invalid {
        border: 2px solid $mjred;
        background: $mjlightgreen;
    }
    
    &:focus {
        border: 1px solid $fontcolour;
    }
    
    &[type=checkbox], &[type=radio] {
        border: none!important;
    }
}

select {
    border: 1px solid $mjgreen;
    font-size: 1em;
    font-family: $bodyfont;
}

h1, div.componentheading {
    margin: 0 0 0.3em 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 1;
}


h2, h3 {
    margin: 0.9em 0 0.2em 0;
}

h4, h5, h6 {
    margin: 0.2em 0 0.2em 0;
}

h2, h3, h4, h6 {
    font-weight: 400;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1.063em;
}

h5, h6 {
    font-size: 1em;
}

p {
    margin: 0 0 0.8em 0;
}


ul, ol {
    margin: 0 0 0.8em 0;
    
    li {
        margin: 0 0 0.3em 1.6em;
    }
}

a {
    color: $linkcolour;
    text-decoration: none;
    
    &:hover {
        color: $hovercolour;
    }
}

table {
    width: auto;
    border-collapse: collapse;
    
    &.contentpane {
        display: block;
        
        tr, td {
            display: block;
        }
        
        td {
            padding: 0 0 0.9em 0;
            height: auto;
            vertical-align: baseline;
            
            &:first-child {
                padding: 0 0 0.3em 0;
            }
        }
        
        html.ie &, html.ie9 & {
            margin: 0 0 0.4em 0;
                    
            td:first-child {
                width: 20%;
            }
        }
    }
    
    &.blog, &.adminform {
        width: 100%;
    }
    
    &.adminform {
        margin: 0 0 0.9em 0;
        
        div {
            display: inline;
        }
        
        button {
            width: 130px;
        }
        
        td {
            padding: 0 1em 0.9em 0;
            
            &.key {
                white-space: nowrap;
            }
        }
    }
}


div {
    &.inner-wrapper {
        @include transition(width 0.5s ease-in-out);
        margin: 0 auto;
        padding: 0 $gutter;
        width: $cols10;
        
        @media screen and (min-width: $cols12) {
            padding: 0;
            width: $cols11;
        }
        
        @media screen and (min-width: $cols13) {
            width: $cols12;
        }
        
        @media screen and (min-width: $cols14) {
            width: $cols13;
        }
        
        @media screen and (min-width: $cols15) {
            width: $cols14;
        }
        
        @media screen and (min-width: $cols16) {
            margin: 0 auto;
            width: $cols15;
        }
        
        html.ie & {
            padding: 0;
            width: $cols12;
        }
    }
    
    &.header {
        @include single-box-shadow(rgba(224, 224, 224, 0.8), 3px, 3px);
        @include transition(height 0.5s ease-in-out);
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 96px;
        border-top: 4px solid $mjred;
        background: $bgcolour;
        
        body.short & {
            height: 60px;
            border-top: 2px solid $mjred;
        }
        
        ul {
            padding: $gutter 0 0 0;
            font-family: $headingfont;
            
            body.short & {
                padding: $gutter/2 0 0 0;
            }
        
            li {
                @include transition(all 0.5s ease-in-out);
                float: left;
                margin: 0 70px 0 0;
                height: 51px;
                list-style: none;
                
                body.short & {
                    height: 38px;
                }
                
                &.item1 {
                    margin: 0 85px 0 17px;
                    width: 188px;
                    background: url('../images/logo.svg') 0 0 no-repeat;
                    background-size: 100% 100%;
                    
                    body.short & {
                        width: 141px;
                        height: 38px;
                    }
                    
                    a {
                        overflow: hidden;
                        text-indent: -1000px;
                    }
                    
                    html.ie9 body.short & {
                        background-size: 140px 38px;
                    }
                    
                    html.ie & {
                        background: url('../images/logo.png') 0 0 no-repeat;
                    }
                    
                    html.ie body.short & {
                        background: url('../images/logo-sm.png') 0 0 no-repeat;
                    }
                }
                
                a {
                    @include transition(all 0.5s ease-in-out);
                    display: block;
                    padding: 31px 0 0 0;
                    height: 20px;
                    color: $fontcolour;
                    vertical-align: baseline;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.875em;
                    
                    body.short & {
                        padding: 18px 0 0 0;
                    }
                    
                    &:hover {
                        color: $hovercolour;
                    }
                }
            }
        }
    }
    
    &.sidebar {
        float: left;
        margin: 0;
        padding: 100px 0 50px 0;
        width: 262px;

        p {
            font-size: 0.875em;
        }
        
        ul {
            margin: 2em 0 0 0;
            font-size: 0.875em;
        }
        
        li {
            margin: 0;
            padding: 0;
            width: 260px;
            border-bottom: 1px dotted $mjgreen;
            list-style: none;
            text-transform: uppercase;
            
            &:first-child {
                border-top: 1px dotted $mjgreen;
            }
            
            &.active {
                a {
                    background-color: $mjlightgreen;
                    background-position: 243px 50%;
                    color: $mjgreen; 
                }
            }
            
            a {
                display: block;
                padding: 10px 20px 10px 10px;
                background: url('../images/linkarrows.png') -230px 50% no-repeat;
                
                &:hover {
                    background-color: $mjlightgreen;
                    background-position: 243px 50%;
                    color: $mjgreen;
                }
            }
        }
        
        fieldset {
            padding: 0;
            border: none;
        }
    }
    
    &.content {
        padding: 30px 0 0 0;
        
        div.with-sidebar & {
            margin: 0 0 0 290px;
        }
        
        div {
            &.componentheading {
                padding: 0 0 0.5em 0;
            }
        }
        
        td {
            vertical-align: top;
        }
        
        span {
            &.small {
                font-size: 0.875em;
            }
            
            &.createby {
                margin: 0 0 0 0.9em;
                padding: 0 0 0 1em;
                border-left: 1px solid $mjgreen;
            }
        }
        
        a {
            color: $contentlinkcolour;
            
            &:hover {
                color: $hovercolour;
            }
        }
        
        // CKE Editor styling        
        span.cke_wrapper.cke_ltr, td#cke_top_text.cke_top, td#cke_bottom_text.cke_bottom {
            padding: 3px 0!important;
            background: $bgcolour!important;
        }
    }
    
    &.contentpaneopen_edit {
        float: right;
        margin: 0.2em 0 0 0.8em;
    }
    
    &.article-tools {
        margin: 0 0 1.4em 0;
        padding: 0.5em 0 0 0;
        font-size: 0.875em;
    }
    
    &.article-content {
        margin: 0.6em 0 0.9em 0;
        
        h1 {
            text-transform: none;
            font-weight: 400;
            font-size: 1.7em;
        }
    
        table {
            font-size: 0.875em;
            
            td {
                padding: 0.3em 0.6em 0.3em 0;
            }
            
            tr {
                &:hover {
                    td {
                        background: $mjlightgreen;
                    }
                }
            }
        }
    }
    
    &.breadcrumbs {
        margin: 0 0 1.8em 0;
        text-transform: uppercase;
        font-size: 0.875em;
        font-family: $headingfont;
        
        span.pathway {
            span {
                padding: 0 0.3em;
            }
        }
    }
    
    &#pf-header {
        background: $bgcolour;
        
        div {
            background: $bgcolour;
            
            &#pf_panel_quicklink_project {
                margin: 5px 0;
            }
        }
        
        select {
            @include border-radius(0);
            @include box-shadow(none);
            border: 1px solid $mjgreen;
            background: none;
            font-size: 1em;
        }
        
        .pf_welcome {
            border-left: none;
            color: $fontcolour;
        }
        
        ul.submenu {
            height: auto;
        }
        
        li {
            &.section, &.active_section {
                a {
                    @include text-shadow(none);
                    padding: 0.4em 1em;
                    border: none;
                    color: $fontcolour;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.875em;
                    font-family: $headingfont;
                    line-height: $lineheight;
                    
                    &:hover {
                        color: $hovercolour;
                        top: 0;
                    }
                    
                    span {
                        padding: 0.3em 0.5em;
                        background: none;
                    }
                }
            }
            
            &.section {
                a {
                    background: none!important;
                }
            }
            
            &.active_section {
                a.pf_nav {
                    background: $mjgreen!important;
                    
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    
    &#pf-wrapper, &#pf-wrapper .moduletable {
        clear: left;
        border: none;
        color: $fontcolour;
        font-size: 1em;
        font-family: $bodyfont;
        line-height: $lineheight;
    }
    
    &#pf-wrapper {
        
        a {
            color: $linkcolour!important;
            
            &:hover {
                color: $hovercolour!important;
            }
        }
        
        #pf-top, #pf-main, .pf-panel-body {
            padding: 0;
        }
        
        #pf_panel_nav_section_subnav {
            div.pf_navigation {
                margin: 0;
                height: auto;
                
                &:first-child {
                    @include box-shadow(none);
                    @include border-radius(0);
                    height: 1.9em;
                    border: none;
                    background: $mjgreen;                    
                            
                    html.ie & {
                        ul {
                            padding: 0.15em 0;
                        }
                    }
                    
                    li {
                        a {
                            @include border-radius(0);
                            @include text-shadow(none);
                            padding: 0.4em 1em;
                            border: none;
                            background: none!important;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 0.875em;
                            font-family: $headingfont;
                            line-height: $lineheight;
                            
                            &:hover {
                                @include border-radius(0);
                                background: none;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        
        .button, .submitbutton, .pf_button, .btn a, 
        .pf_filter .pf_nav, #editor-xtd-buttons a {
            @include border-radius(0);
            @include text-shadow(none);
            @include box-shadow(none);
            border: none;
            background: $mjgreen;
            color: $white!important;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $headingfont;
            
            &:hover {
                border: none;
                background: $mjred;
                color: $white!important;
            }
        }
        
        .inputbox, .myactivity_input, #cdate, #pf_time_panel_note,
        .pfl_search input, .pf_nav_day input, .pf_nav_year input,
        .adminform input, #table_body input,
        #pf_panel_task_comments input.inputbox, 
        .pf_board input.inputbox, #pf_panel_task_comments textarea.text, 
        .pf_board textarea.text {
            @include border-radius(0);
            @include box-shadow(none);
            padding: 0.2em 4px;
            border: 1px solid $mjgreen;
            background: $bgcolour!important;
            color: $fontcolour;
            font-size: 1em;
            line-height: $lineheight;
            
            &:focus {
                border: 1px solid $fontcolour;
            }
        }
        
        #pf_panel_nav_section li a:hover, .pf_table th.title,
        .pf-panel h3, #pf-body .moduletable h3, #pf-sidebar .return-list a:hover {
            background-color: $mjlightgreen;
        }
        
        .pf-wizard {
            @include box-shadow(none);
            margin: 0 0 1.6em 0;
            padding: 1.5em 0 0 0;
            color: $fontcolour;
            
            h3 {
                font-size: 1.3em;
                line-height: $lineheight;
            }
            
            p {
                font-size: 1em;
                line-height: $lineheight;
            }
        }
        
        .pf_table {
            border-collapse: collapse;
            
            th.title {
                @include box-shadow(none);
                font-weight: 400;
            }
            
            td.item_title {
                font-size: 1em;
                font-family: $headingfont;
                line-height: $lineheight;
                                
                a {
                    color: $fontcolour!important;
                    font-weight: normal!important;
                    
                    &:hover {
                        color: $hovercolour;
                    }
                }
            }
        }
        
        .pf_calendar {
            td {
                div.event {
                    width: auto;
                }
                
                table {
                    width: 100%;
                }
                
                &:hover {
                    @include box-shadow(none);
                    background: $mjlightgreen;
                }
            }
        }
        
        .pf_priority_cell span {
            @include box-shadow(none);
            @include border-radius(0);        
        }
        
        dl.tabs {
            height: auto;
            border: none;
            background: none;
            
            dt {
                @include text-shadow(none);
                color: $linkcolour;
                font-weight: 400!important;
                
                &.open {
                    border: 1px solid $fontcolour;
                    border-bottom: none;
                    color: $fontcolour;
                }
            }
        }
        
        div {
            &.current {
                border-top: 1px solid $fontcolour;
            }
        }
        
        .event {
            @include border-radius(0);
            @include text-shadow(none);
            border: none;
            background: $eventcolour;
            color: $fontcolour;
            font-size: 0.875em;
            
            a {
                @include text-shadow(none);
                color: $fontcolour!important;
                font-size: 1em;
                
                &:hover {
                    color: $hovercolour!important;
                }
            }
        }
                
        .project_event {
            background: $projectcolour;
        }
        
        .milestone_event {
            background: $milestonecolour;
        }
        
        .task_event {
            background: $taskcolour;
        }
        
        
        table.admintable {
            td {
                padding: 0.4em 0.4em 0.4em 0;
                color: $fontcolour;
                vertical-align: baseline;
                
                &.key {
                    color: $fontcolour;
                    text-transform: uppercase;
                    white-space: nowrap;
                    font-weight: 700;
                    font-size: 0.875em;
                    font-family: $headingfont;
                }
            }
        }
        
        input[type=text], input[type=password], textarea, select {
            border: 1px solid $mjgreen;
            font-size: 1em;
            font-family: $bodyfont;
            
            &:active {
                border: 1px solid $fontcolour;
            }
        }
        
        input[type=text], input[type=password], textarea {
            padding: 0.2em 4px;
        }
        
        fieldset {
            @include border-radius(3px);
            margin: 0.7em 0 1em 0;
            padding: 0.4em 0.8em;
            border: 1px solid $mjgreen;
            
            legend {
                margin: 0 0 0.6em 0;
                padding: 0 0.6em;
                background: $bgcolour;
                font-size: 0.875em;
            }
        }
    }
    
    &.footer {
        clear: both;
        margin: 50px 0;
        border-top: 1px solid $fontcolour;
        border-bottom: 1px solid $fontcolour;
        
        div {
            &.container {
                padding: 50px 0;
            }
            
            &.column {
                @include inline-block;
                margin: 0;
                width: $cols3;
                vertical-align: top;
                
                a {
                    &.logo {
                        display: block;
                        overflow: hidden;
                        width: 188px;
                        height: 51px;
                        background: url('../images/logo.svg') 0 0 no-repeat;
                        background-size: 100% 100%; 
                        text-indent: -1000px;
                        
                        html.ie & {
                            background: url('../images/logo.png') 0 0 no-repeat;
                        }
                    }
                    
                    &.readmore {
                        display: block;
                        padding: 10px 0 0 0;
                        text-transform: uppercase;
                        font-size: 0.813em;
                    }
                }
            }
            
            &.address {
                margin: 0 0 0 30px;
                padding: 25px 0 0 0;
                font-weight: 600;
                
                h3 {
                    padding: 0 0 15px 0;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 0.875em;
                }
                
                strong {
                    float: left;
                    width: 15px;;
                }
                
                p {
                    margin: 0;
                    font-size: 0.813em;
                    line-height: 2;
                }
            }
        }
    }
    
    &.body {
        padding: 100px 0 0 0;
    }
    
    &.tool-tip {
        padding: 0.5em 0.8em;
        border: 1px solid $mjgreen;
        background: $bgcolour;
    }
}

body.homepage {
    h1 {
        font-size: 2.188em;
        
        html.ie &, html.ie9 & {
            font-size: 2em;
        }
    }
    
    div {
        &.sidebar {
            margin: 0 0 0 70px;
        }
        
        &.with-sidebar {
            div.content {
                margin: 0 0 0 390px;
            }
        }
        
        &.content {
            padding: 0;
        }
        
        &.breadcrumbs {
            display: none;
        }
        
        &.contentpaneopen_edit {
            display: none;
        }
        
        &.article-content {
            margin: 0;
            height: 450px;
            background: url('../images/homepage.jpg') top left no-repeat;
        }
    }
}